*{
    margin: 0;
    padding: 0;
}

body {
    display: flex;
    justify-content: center;
    background-color: aqua;
}

canvas{
    background-color: rgb(47, 180, 151);
    margin-top: 32px;
    border-style: solid;
}